<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="false" scanPeriod="60 seconds" debug="false">
    <contextName>ifast</contextName>
    
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%cn ${HOSTNAME} %date %level [%thread] %logger{18}.%M:%L %.-512msg %ex{short} %n</pattern>
        </encoder>
    </appender>
    
	<!--
	<appender name="SOCKET" class="ch.qos.logback.classic.net.SocketAppender">
		<RemoteHost>logbackserver</RemoteHost>
		<Port>6000</Port>
		<ReconnectionDelay>10000</ReconnectionDelay>
		<IncludeCallerData>false</IncludeCallerData>
	</appender>
	-->
	
    <!-- 
	<property name="LOG_PATH" value="/var/log/ifast"/>
    <property name="FILE_NAME" value="ifast"/>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${FILE_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${FILE_NAME}.log.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%cn %date %-5level [%thread] %logger.%M:%L %msg%n</pattern>
        </encoder>
    </appender>
    -->
    
    <logger name="com.baomidou.mybatisplus.plugins.pagination.optimize.JsqlParserCountOptimize" level="debug"></logger>
    
    <root level="INFO">
    	<appender-ref ref="CONSOLE"/>
    </root>
</configuration>