<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ifast.sys.dao.RoleMenuDao">

	<select id="listMenuIdByRoleId" resultType="long">
		select menuId from sys_role_menu
		<where>roleId = #{roleId}</where>
	</select>

	<delete id="removeByRoleId">
		DELETE FROM sys_role_menu WHERE roleId=#{roleId}
	</delete>

	<insert id="batchSave">
		INSERT INTO sys_role_menu(roleId, menuId) values
		<foreach item="item" index="index" collection="list"
			separator=",">
			(#{item.roleId},#{item.menuId})
		</foreach>
	</insert>
</mapper>