<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ifast.sys.dao.UserRoleDao">

	<select id="findListByUserId" resultType="com.ifast.sys.domain.RoleDO">
		select * from sys_role r
		left join sys_user_role ur on r.id = ur.roleId
		left join sys_user u on ur.userId = u.id
		where
		u.id = #{userId}
	</select>

	<select id="listRoleId" resultType="long">
		select roleId from
		sys_user_role where
		userId=#{userId}
	</select>

	<delete id="removeByUserId">
		delete from sys_user_role where userId=#{userId}
	</delete>

	<delete id="batchRemoveByUserId">
		delete from sys_user_role where userId in
		<foreach item="id" collection="array" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</delete>

	<insert id="batchSave">
		INSERT INTO sys_user_role(userId, roleId) values
		<foreach item="item" index="index" collection="list"
			separator=",">
			(#{item.userId},#{item.roleId})
		</foreach>
	</insert>
</mapper>