<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>ifast 快速开发框架</title>
        <meta name="Keywords" content="ifast、快速开发框架、java、ssm、后台管理系统、bootstrap">
        <meta name="Description" content="ifast、快速开发框架、java、ssm、后台管理系统、bootstrap">
        <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>
        <link href="css/login/base.css" rel="stylesheet"/>
        <link href="css/login/iconfont.css"  rel="stylesheet"/>
        <link href="css/login/reg.css" rel="stylesheet" />
    </head>
    <body>
        <div id="ajax-hook"></div>
        <div class="wrap">
            <div class="wpn">
                <div class="form-data pos">
                    <a href=""><img src="css/login/login-logo.png" class="head-logo"></a>
                    <div class="change-login">
                        <p class="account_number on">账号登录</p>
                        <!-- <p class="message">短信登录</p> -->
                    </div>
                    <div class="form1">
                        <p class="p-input pos">
                            <label for="num">请输入用户名</label>
                            <input type="text" id="num">
                            <span class="tel-warn num-err hide"><em>账号或密码错误，请重新输入</em><i class="icon-warn"></i></span>
                        </p>
                        <p class="p-input pos">
                            <label for="pass">请输入密码</label>
                            <input type="password" style="display:none">
                            <input type="password" id="pass" autocomplete="new-password">
                            <span class="tel-warn pass-err hide"><em>账号或密码错误，请重新输入</em><i class="icon-warn"></i></span>
                        </p>
                        <p class="p-input pos code hide">
                            <label for="veri">请输入验证码</label>
                            <input type="text" id="veri">
                            <img src="http://www.17sucai.com/preview/1064026/2018-02-04/ui.rar/index.html">
                            <span class="tel-warn img-err hide"><em>账号或密码错误，请重新输入</em><i class="icon-warn"></i></span>
                            <!-- <a href="javascript:;">换一换</a> -->
                        </p>
                    </div>
                    <div class="form2 hide">
                        <p class="p-input pos">
                            <label for="num2">手机号</label>
                            <input type="number" id="num2">
                            <span class="tel-warn num2-err hide"><em>账号或密码错误</em><i class="icon-warn"></i></span>
                        </p>
                        <p class="p-input pos">
                            <label for="veri-code">输入验证码</label>
                            <input type="number" id="veri-code">
                            <a href="javascript:;" class="send">发送验证码</a>
                            <span class="time hide"><em>120</em>s</span>
                            <span class="tel-warn error hide">验证码错误</span>
                        </p>
                    </div>
                    <div class="r-forget cl">
                        <a href="" class="z">账号注册</a>
                        <a href="" class="y">忘记密码</a>
                    </div>
                    <button class="lang-btn off log-btn">登录</button>
                    <div class="third-party">
                        <a href="" class="log-qq icon-qq-round"></a>
                        <a href="" class="log-qq icon-weixin"></a>
                        <a href="" class="log-qq icon-sina1"></a>
                    </div>
                    <p class="right">Powered by ifast © 2018</p>
                </div>
            </div>
        </div>
        <script th:inline="javascript"> var ctx = [[@{/}]] ; </script>
        <script src="css/login/jquery.js"></script>
        <script src="css/login/agree.js"></script>
        <script src="/js/plugins/layer/layer.min.js" th:src="@{/js/plugins/layer/layer.min.js}"></script>
        <script src="css/login/login.js"></script>
    </body>

</html>