<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>欢迎页</title>
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
	<div class="panel panel-default">
		<div class="panel-heading">关于 IFast 快速开发框架</div>
		<div style="padding: 10px 0 20px 10px;">
			<h3>&nbsp;&nbsp;&nbsp;框架介绍</h3>
			<p>IFast是一个由主流开源技术搭建的快速开发平台，旨在帮助开发者提高开发效率。</p>
			<p>技术选型：</p>
			<ul>
				<li>Spring boot作为基础框架，使用mybatis-plus作为持久层框架</li>
				<li>技术选型：</li>
				<li>使用官方推荐的thymeleaf做为模板引擎，shiro作为安全框架,主流技术，“一网打尽”</li>
				<li>极简配置，一键前后台代码生成</li>
			</ul>

		</div>
	</div>
</body>
</html>