package ${package}.dao;

import ${package}.domain.${className}DO;
import com.ifast.common.base.BaseDao;

/**
 * 
 * <pre>
 * ${comments}
 * </pre>
 * <small> ${datetime} | ${author}</small>
 */
public interface ${className}Dao extends BaseDao<${className}DO> {

}
