package ${package}.domain;

#if(${hasDatetime})
import java.util.Date;
#end
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end

import com.baomidou.mybatisplus.annotations.TableId;
import com.baomidou.mybatisplus.annotations.TableName;
import com.ifast.common.base.BaseDO;

import lombok.Data;
import lombok.EqualsAndHashCode;

/**
 * 
 * <pre>
 * ${comments}
 * </pre>
 * <small> ${datetime} | ${author}</small>
 */
@Data
@SuppressWarnings("serial")
@TableName("${tableName}")
@EqualsAndHashCode(callSuper=true) 
public class ${className}DO extends BaseDO {
	@TableId
	private Long id;
#foreach ($column in $columns)
#if ($column.attrname != $pk.attrname)
    /** $column.comments */
    private $column.attrType $column.attrname;
#end

#end
}
