package ${package}.dao;

import java.util.List;
import java.util.Map;

import ${package}.entity.${className};
import com.baomidou.mybatisplus.mapper.BaseMapper;

/**
 * 
 * <pre>
 * ${comments}
 * </pre>
 * <small> ${datetime} | ${author}</small>
 */
public interface ${className}Mapper extends BaseMapper<${className}> {

}
