package ${package}.service.impl;

import org.springframework.stereotype.Service;

import ${package}.dao.${className}Dao;
import ${package}.domain.${className}DO;
import ${package}.service.${className}Service;
import ${package}.base.CoreServiceImpl;

/**
 * 
 * <pre>
 * ${comments}
 * </pre>
 * <small> ${datetime} | ${author}</small>
 */
@Service
public class ${className}ServiceImpl extends CoreServiceImpl<${className}Dao, ${className}DO> implements ${className}Service {

}
